/* CSS styles for the Grocery Stores Survey website */


*{font-family: 'Source Sans Pro', sans-serif;}
.map {height:70%}
#map {position:relative;height:500px;}
.leaflet-popup-content {font-size: medium;}
.form-group{width:250px;margin-bottom:0;}
.form-control{resize:none;}
.text-muted{font-size:smaller;}
hr {margin: 10px 0;}
